{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50 log-body">
            <div class="col-12 mb-5">
                <h2 class="tm-text-primary text-center mb-5">S'inscrire</h2>
                {% for message in app.flashes('success') %}
                    <div class="form-group mt-2 mb-2 text-center alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form, {
                    'attr': {
                        'class': 'tm-contact-form mx-auto',
                        'id': 'register-form',
                    }
                }) }}
                    <div class="form-group mt-2 mb-2">
                        {{ form_widget(form.login) }}
                        {{ form_errors(form.login) }}
                    </div>
                    <hr>
                    <div class="form-group mt-2 mb-2">
                        {{ form_widget(form.mail) }}
                        {{ form_errors(form.mail) }}
                    </div>
                    <hr>
                    <div class="form-group mt-2 mb-2">
                        {{ form_widget(form.password.first) }}
                        {{ form_errors(form.password.first) }}
                    </div>
                    <hr>
                    <div class="form-group mt-2 mb-2">
                        {{ form_widget(form.password.second) }}
                        {{ form_errors(form.password.second) }}
                    </div>
                        {{ form_rest(form) }}
                    <hr>
                    <div class="form-group tm-text-right text-center mt-5">
                        <button type="submit" class="btn btn-primary">Créer son compte</button>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
