{{ form_start(form, {
    'attr': {
        'class': 'tm-contact-form mx-auto',
        'id': 'register-form',
    }
}) }}
    <div class="error-msg">
        {{ form_errors(form) }}
    </div>
    <div class="form-group mt-2 mb-2">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
<hr>
    <div class="form-group mt-2 mb-2">
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>
<hr>
    <div class="form-group text-center mt-2 mb-2">
        <div id="trick_images" data-prototype="{{ include('trick/_image.html.twig', {form: form.images.vars.prototype})|e("html_attr") }}" data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}">
            {% for image in form.images %}
                <div class="div-input-images">
                    <img src="{{ asset('assets/tricks-img/' ~ image.vars.value.imagename) }}" alt="Image figure" class="img-fluid" />
                    {{ include('trick/_image.html.twig', {form: image}) }}
                </div>
            {% endfor %}
            {{ form_errors(form.images) }}
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-new" data-collection="#trick_images">Ajouter une image</button>
<hr>
    <div class="form-group text-center mt-2 mb-2">
        <div id="trick_videos" data-prototype="{{ include('trick/_video.html.twig', {form: form.videos.vars.prototype})|e("html_attr") }}" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}">
            {% for video in form.videos %}
                {{ include('trick/_video.html.twig', {form: video}) }}
            {% endfor %}
            {{ form_errors(form.videos) }}
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-new" data-collection="#trick_videos">Ajouter une vidéo</button>
<hr>
    <div class="form-group mt-2 mb-2">
        {{ form_label(form.grouptrick) }}
        {{ form_widget(form.grouptrick) }}
        {{ form_errors(form.grouptrick) }}
    </div>
<hr>
        {% for message in app.flashes('error') %}
            <div class="form-group mt-2 mb-2 text-center error-msg">
                {{ message }}
            </div>
        {% endfor %}
    <div class="form-group tm-text-right text-center mt-5">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
    <div class="form-group mt-2 mb-2 text-center">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
    </div>
{{ form_end(form) }}
