{{ form_start(form, {
    'attr': {
        'class': 'tm-contact-form mx-auto',
        'id': 'register-form',
    }
}) }}
    <div class="form-group mt-2 mb-2">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
<hr>
    <div class="form-group mt-2 mb-2">
        {{ form_widget(form.content) }}
        {{ form_errors(form.content) }}
    </div>
<hr>
    <div class="form-group mt-2 mb-2">

        {# store the prototype on the data-prototype attribute #}
        <ul id="media-fields-list-image"
            data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.images|length }}">
            {% for imageField in form.images %}
                <li>
                    {{ form_widget(form.imageField) }}
                    {{ form_errors(form.imageField) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button" class="add-another-collection-widget-image" data-list-selector="#media-fields-list-image">
            Ajouter une image
        </button>

    </div>
<hr>
    <div class="form-group mt-2 mb-2">

        {# store the prototype on the data-prototype attribute #}
        <ul id="media-fields-list-video"
            data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
            data-widget-tags="{{ '<li></li>'|e }}"
            data-widget-counter="{{ form.videos|length }}">
            {% for videoField in form.videos %}
                <li>
                    {{ form_widget(form.videoField) }}
                    {{ form_errors(form.videoField) }}
                </li>
            {% endfor %}
        </ul>

        <button type="button" class="add-another-collection-widget-video" data-list-selector="#media-fields-list-video">
            Ajouter une vidéo
        </button>

    </div>
<hr>
    <div class="form-group mt-2 mb-2">
        {{ form_label(form.grouptrick) }}
        {{ form_widget(form.grouptrick) }}
        {{ form_errors(form.grouptrick) }}
    </div>
<hr>
        {% for message in app.flashes('error') %}
            <div class="form-group mt-2 mb-2 text-center error-msg">
                {{ message }}
            </div>
        {% endfor %}
    <div class="form-group tm-text-right text-center mt-5">
        <button type="submit" class="btn btn-primary">Valider</button>
    </div>
    <div class="form-group mt-2 mb-2 text-center">
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
    </div>
{{ form_end(form) }}
