{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row tm-mb-50 log-body">
            <div class="col-lg-10 offset-lg-1 col-12 mb-5 text-center">
                <h2 class="tm-text-primary mt-5 mb-5">Index des Figures</h2>
                <table class="table table-text">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Créé le</th>
                        <th>Modifié le</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trick in tricks %}
                        <tr>
                            <td>{{ trick.id }}</td>
                            <td>{{ trick.name }}</td>
                            <td>{{ trick.content|slice(0,20) }}</td>
                            <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ trick.updatedAt ? trick.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('app_trick_show', {'slug': trick.slug}) }}">Voir</a>
                                <a href="{{ path('app_trick_edit', {'slug': trick.slug}) }}">Éditer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">Vous n'avez pas encore de figure</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <a href="{{ path('app_trick_new') }}">Create new</a>
{% endblock %}
