{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid tm-mt-60">
        <div class="row tm-mb-50 log-body">
            <div class="col-lg-4 offset-4 col-12 mb-5 text-center">
                <h2 class="tm-text-primary mb-5">Modifier mon profil</h2>
                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}
                {{ form_start(form, {
                    'attr': {
                        'class': 'tm-contact-form mx-auto',
                        'id': 'register-form',
                    }
                }) }}
                <div class="form-group mt-2 mb-2">
                    {{ form_widget(form.name, {
                        'attr': {
                        'value': user.name,
                        }
                    }) }}
                    {{ form_errors(form.name) }}
                </div>
                <hr>
                <div class="form-group mt-2 mb-2">
                    {{ form_widget(form.firstname, {
                        'attr': {
                            'value': user.firstname,
                        }
                    }) }}
                    {{ form_errors(form.firstname) }}
                </div>
                <hr>
                <div class="form-group mt-2 mb-2">
                    {{ form_widget(form.password.first) }}
                    {{ form_errors(form.password.first) }}
                </div>
                <hr>
                <div class="form-group mt-2 mb-2">
                    {{ form_widget(form.password.second) }}
                    {{ form_errors(form.password.second) }}
                </div>
                <hr>
                <div class="form-group mt-2 mb-2">
                    {{ form_widget(form.mail, {
                        'attr': {
                            'value': user.mail,
                        }
                    }) }}
                    {{ form_errors(form.mail) }}
                </div>
                <hr>
                <p>Choisissez votre avatar :</p>
                {% for key, child in form.avatar %}
                    <div class="form-group mt-2 mb-2">
                        <img src="{{ asset("assets/img/avatar-"~key~".png") }}" alt="test">
                        {{ form_widget(child) }}
                        {{ form_errors(child) }}
                    </div>
                {% endfor %}
                {{ form_rest(form) }}
                <hr>
                <div class="form-group tm-text-right text-center mt-5">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
                <div class="form-group mt-2 mb-2 text-center">
                    {% for message in app.flashes('success') %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
